
div.cqc-widget {
  background: #fff url("//www.cqc.org.uk/sites/all/modules/custom/cqc_widget/images/widget-bg-bottom-left.png") no-repeat bottom left !important;
  border: 1px solid #e4e4e4 !important;
  margin: 0 auto !important;
  font-size: 15px !important;
  font-weight: 300 !important;
  color: #333 !important;
}

div.cqc-widget .cqc-container {
  background: url("//www.cqc.org.uk/sites/all/modules/custom/cqc_widget/images/widget-bg-top-right.png") no-repeat top right !important;
  padding: 20px 15px !important;
}

div.cqc-widget div.cqc-widget-inner div {
  font-family: Helvetica,Arial,sans-serif !important;
  font-size: 15px !important;
  font-weight: 300;
  margin-top: 5px !important;
}

div.cqc-widget .cqc-widget-inner {
  margin-top: 15px !important;
  font-family: Helvetica,Arial,sans-serif !important;
  font-size: 15px !important;
  font-weight: 300;
}

div.cqc-widget .cqc-widget-inner .cqc-widget-normal,
div.cqc-widget .cqc-widget-inner .cqc-widget-inherited {
  background-color: #f8f7f3 !important;
  padding: 5px 10px 15px 10px !important;
}

div.cqc-widget .cqc-widget-inner .inherited-facility{
  color: #6c276a !important;
  font-weight: bold !important;
}

div.cqc-widget .cqc-widget-intro {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  color: #6C276A !important;
  font-weight: bold !important;
}

div.cqc-widget .cqc-widget-icon {
  float: left !important;
  padding-right: 10px !important;
}

div.cqc-widget .cqc-widget-outcome {
  font-weight: bold !important;
  display: table-cell !important;
  vertical-align: middle !important;
}

div.cqc-widget .cqc-widget-footer {
  clear: both !important;
}

div.cqc-widget .cqc-widget-footer h3 {
  font-size: 15px !important;
}

div.cqc-widget .cqc-location-name {
  font-weight: bold !important;
}

div.cqc-widget .cqc-widget-overall,
div.cqc-widget .cqc-widget-footer a {
  color: #fff !important;
  padding: 11px !important;
  font-size: 18px !important;
  margin-top: 2px !important;
  font-weight: normal !important;
  float: left !important;
  text-decoration: none !important;
  letter-spacing: 0.75px !important;
}

div.cqc-widget .cqc-widget-footer-new-style a {
  color: #fff !important;
  padding: 5px 15px !important;
  margin-top: 0 !important;
  font-weight: 600 !important;
  float: left !important;
  text-decoration: none !important;
  clear: both !important;
}

div.cqc-widget .met-all-green {
  color: #5ea000 !important;
}

div.cqc-widget .cqc-widget-footer a {
  color: #fff !important;
  padding: 5px 15px !important;
  margin-top: 5px !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  float: left !important;
  border-radius: 10px !important;
  text-decoration: none !important;
  background: #6C276A !important;
  letter-spacing: normal !important;
}

div.cqc-widget .cqc-widget-new-style-margin {
  padding: 5px 0 !important;
  margin-top: 10px !important;
}

div.cqc-widget .cqc-widget-new-style-margin-2 {
  padding: 5px 0 !important;
  margin-top: 3px !important;
}
div.cqc-widget .cqc-widget-new-style-margin-2 .cqc-widget-overall {
  font-size: 15px !important;
}


div.cqc-widget .cqc-widget-date {
  padding: 10px 0 !important;
  margin-top: 10px !important;
}

div.cqc-widget .cqc-widget-overall.outstanding {
  background: url("//www.cqc.org.uk/sites/all/themes/cqc/images/outstanding-star.png") no-repeat transparent !important;
  background-position: 120px 4px !important;
  background-color: #458f00 !important;
  padding: 10px 40px 10px 11px !important;
}

div.cqc-widget .cqc-widget-overall.good {
  background: #458f00 !important;
}

div.cqc-widget .cqc-widget-overall.requires-improvement {
  background: #ff9900 !important;
}

div.cqc-widget .cqc-widget-overall.inadequate {
  background: #bf1000 !important;
}

div.cqc-widget .cqc-widget-overall.not-sufficient-evidence-to-rate {
  background: none !important;
  font-weight: bold !important;
  padding: 0 !important;
  color: #333 !important;
  letter-spacing: inherit !important;
}


/* Generic promo button */
/* NOTE: Generally works best inside something with class="button-wrapper" */
div.cqc-widget a.widget-button {
  float: left;
  display: block;
  padding: 5px 30px 5px 10px;
  min-height: 20px;
  color: #205982 !important; /* now works in Quick Links on Section Landing page by overcoming this: #content-wrapper .field--name-field-link-section a */
  background: #f8f7f3 url("//www.cqc.org.uk/sites/all/themes/cqc/images/icon-button-providers.png") right center no-repeat;
  border: 1px solid #c9c6b9; /* box-shadow adds to this */
  border-radius: 3px;
  box-shadow: 0 1px 2px #c9c6b9;
}

/* Generic promo button */
/* NOTE: Generally works best inside something with class="button-wrapper" */
div.cqc-widget a.widget-button-new-style {
  float: left !important;
  display: block !important;
  padding: 8px 30px 7px 8px !important;
  font-weight: bold !important;
  /* min-height: 20px !important; */
  color: #6C276A !important; /* now works in Quick Links on Section Landing page by overcoming this: #content-wrapper .field--name-field-link-section a */
  background: #ffffff url("//www.cqc.org.uk/sites/all/themes/cqc/images/icon-button-providers.png") right center no-repeat !important;
  border: 1px solid #c9c6b9 !important;/* box-shadow adds to this */
  box-shadow: 0 1px 2px #c9c6b9 !important;
  border-radius: 4px !important;
}


/* - Buttons in the content */
div.cqc-widget .widget-button-wrapper,
div.cqc-widget div.cqc-widget-inner .widget-button-wrapper{
  margin-bottom: -3px; /* match padding-bottom */
  padding-bottom: 3px; /* show box-shadow beneath .button */
  position: relative; /* enable negative margins */
  overflow: hidden;
  display: inline-block !important;
  margin-top: 0px !important;
}

div.cqc-widget .widget-button-wrapper > * {
  float: left;
}

/* - Other content within .widget-button-wrapper */
/* Search for specific contexts using: #content-wrapper .widget-button-wrapper */
div.cqc-widget .widget-button-wrapper {
  margin-top: 0;
  color: #000000;
  font-size: 15px;
  font-weight: bold;
}

div.cqc-widget .widget-button-wrapper {
  display: block;
  padding-bottom: 15px; /* 15px */
}

div.cqc-widget .widget-button-wrapper {
  padding-bottom: 0;
}

div.cqc-widget .widget-button-wrapper {
  margin: 11px 0 0 0;
  padding: 0 24px;
}

div.cqc-widget .widget-button-wrapper {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #f8f7f3;
}

/* position the OR on the report file download */
div.cqc-widget .widget-button-wrapper {
  margin: 20px 0 0 0;
  padding: 0 0 0 50px;
}
/* See also: #content-wrapper a.document */
/* Position the "Download full report" */
div.cqc-widget .widget-button-wrapper {
  float: none;
  margin-left: 39%; /* after the OR */
  width: 59%; /* 2% gutter on right */
}

div.cqc-widget .widget-button-wrapper {
  margin-left: 0;
}
/* End of Position the "Download full report" */

div.cqc-widget a.met-all-green {
  background-color: #5ea000 !important;
}

div.cqc-widget .enforcement-red {
  color: #930105 !important;
}
div.cqc-widget a.enforcement-red {
  background-color: #930105 !important;
}

div.cqc-widget .not-met-all-grey {
  color: #48545b !important;
}

div.cqc-widget a.not-met-all-grey {
  background-color: #48545b !important;
}

div.cqc-widget .cqc-widget-clear {
  clear: both !important;
}


div.cqc-widget .widget-button-wrapper, div.cqc-widget div.cqc-widget-inner .widget-button-wrapper {
  margin-bottom: -3px;
  padding-bottom: 3px;
  position: relative;
  overflow: hidden;
  display: inline-block !important;
  margin-top: 0px !important;
  width: 100%;
  padding: 0;
}

.fram-footer-div {
  margin: 20px 0px 0 0;
}