@charset "utf-8";
/* CSS Document */
/* #Reset & Basics
================================================== */

html {
	scroll-behavior: smooth;
  }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/* scroll-behavior: smooth; */
	
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
body {
	line-height: 1
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clr {
	clear:both;
}
.alignleft {
	float: left;
	margin:0 20px 20px 0px;
}
.alignright {
	float:right;
	margin:0 0 20px 20px;
}
.txtleft {
	text-align:left
}
.txtcenter {
	text-align:center!important;
}
/* #Basic Styles
================================================== */
html,body {margin:0 auto; padding:0; height:100%;  }

/**/
html {
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

* {
    -webkit-overflow-scrolling: touch;
}
body {
	font-size: 14px;
	color: #222;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif !important;
	scroll-behavior: smooth;
}
/* #Typography
================================================== */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
em {
	font-style: italic
}
strong {
	font-weight: 700;
}
/*    Blockquotes  */
blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before {
	content: "\2014 \0020"
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555
}
hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}
/* #Links
================================================== */

a, a:visited {
	text-decoration: none;
	outline: 0;/*-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;*/
}
a:hover, a:focus {
	text-decoration: none;
	outline:none;
}
img:hover { outline:none;}
p a, p a:visited {
	line-height: inherit
}
/* #Lists
================================================== */
ul, ol {
	margin:0
}
ul {
	list-style: none outside
}
ol {
	list-style: decimal
}
ol, ul.square, ul.circle, ul.disc {
	margin-left: 30px
}
ul.square {
	list-style: square outside
}
ul.circle {
	list-style: circle outside
}
ul.disc {
	list-style: disc outside
}
ul ul li, ul ol li, ol ol li, ol ul li {
	margin: 0;
	padding:0;
}
li {
	line-height: 18px;
}
/* #Images
================================================== */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* #Buttons
================================================== */

/* Fix for odd Mozilla border & padding issues */


button::-moz-focus-inner, ::-moz-focus-inner { border: 0; padding: 0; }
.form-control:focus { box-shadow: none; }
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{ box-shadow: none; }

/*  End of general css */

.wrapper { background-color: #fff; display: block; height: 100%; }
.wrapper .btn.focus, .wrapper .btn:focus { outline: none; box-shadow:none; }
.wrapper .btn{ transition: all 0.3s ease-in-out; }

.container { max-width: 1200px; }


.custom-icon { -webkit-mask-size: cover; display: inline-block; vertical-align: middle; mask-size: cover; text-align: center; color: #ffffff; fill: #ffffff; background-color: #ffffff; }
.custom-icon.iconname{
    width: 19px; height: 15px;
	-webkit-mask: url( ) no-repeat 50% 50%;
    mask: url( ) no-repeat 50% 50%;
}
.material-outline{ font-family: 'Material Icons Outlined'; }

/* header  **/



header{ position: relative; }

.header-div { padding: 0; margin: 0; background-color: transparent; position: relative; z-index: 9999; width: 100%; min-height: 100px;  transition: all 0.5s; }
.header-div .logo-div { padding: 15px 0px 15px 25px; margin: 0; display: flex; float: left; width: 15%; align-items: center; min-height: 115px; }
.header-div .nav-center-div{ padding: 15px 25px 15px 25px; margin: 0; display: flex; float: left; width: 70%; align-items: flex-start; justify-content: center; min-height: 115px; }
.header-div .header-right-div{ padding: 15px 25px 15px 25px; margin: 0; display: flex; float: left; width: 15%; align-items: flex-start; min-height: 115px; }

.header-div .scroll-logo{ display: none; }
.header-div .main-logo{ display: block; }
.header-div .logo_img{ transition: display ease-in-out 0.5s; width: 155px; }

.header-div.scrollUp { transform: translateY(-100px); background-color: #ffffff; }


/* .fixed_top { background-color: #ffffff; z-index: 9999;    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);    transform: translateZ(65px);
    animation: slide-down 0.9s; -webkit-animation-name: fadeInDown; animation-name: fadeInDown; } */
.fixed_top .top-nav1 { padding: 10px 0 20px 0; }
.fixed_top.header-div .ullist-inline li .nav-link{ color: #00A685; }
.fixed_top.header-div .scroll-logo{ display: block; }
.fixed_top.header-div .main-logo{ display: none; }
.fixed_top.header-div .social-ul > li > a { color: #ffffff; background-color: #00A685;transition: all ease-in-out 0.2s; }
.fixed_top.header-div .social-ul > li > a:hover { background-color: #02886d; }


.header-div.header-bgcolor { padding: 0; margin: 0; background-color: #4DA3F9; position: fixed; z-index: 9999; width: 100%; min-height: 75px; transition: all 0.5s; top: 0; left: 0; } 
.header-div.header-bgcolor .logo_img { width: 80px; }
.header-div.header-bgcolor .logo-div { min-height: 75px; }
.header-div.header-bgcolor .nav-center-div{ min-height: 75px; }
.header-div.header-bgcolor .header-right-div{ min-height: 75px; }

.header-div .logo_img.text-logo{ display: none; }

.header-div.header-bgcolor .logo_img{ display: none; }
.header-div.header-bgcolor .logo_img.text-logo{ display: block; width: auto; height: 40px; }
.header-div.header-bgcolor .ullist-inline li .nav-link { color: #B3D9F0; }
.header-div.header-bgcolor .ullist-inline li .nav-link:hover{ color: #fff; }
.header-div.header-bgcolor .ullist-inline li.active .nav-link{ color: #fff; }

/* start navigation  **/

.header-div .top-nav1 { display: flex; justify-content: flex-end; align-items: center; padding: 0px 0 0 0; }
.header-div .inner-top-header-div{ padding: 0;margin: 0; }
.header-div .inner-top-header-div.top-nav1 { padding: 0; margin: 0; float: right; }
.header-div .cd-shadow-layer { position: fixed; min-height: 100%; width: 100%; top: 0; left: 0; background: rgba(77, 163, 249, 0.92); cursor: pointer; z-index: 99999; display: none; }
.header-div .cd-shadow-layer.is-visible { display: block; -webkit-animation: cd-fade-in 0.3s; -moz-animation: cd-fade-in 0.3s; animation: cd-fade-in 0.3s; }
.header-div .nav-div{ float: left; }
.header-div .display-none{ display: none !important; }
.header-div .nav-div .closebtn { display: none; }
.header-div .ullist-inline { padding: 0 0 2px 0; margin: 0 0px 0 0; display: flex; align-items: center; min-height: 45px; }
.header-div .ullist-inline li{ padding: 0;margin: 0 35px 0 0;display: inline-block;text-transform: capitalize;font-size: 14px; }
.header-div .ullist-inline li:last-child{ margin: 0 0 0 0; }
.header-div .ullist-inline li .nav-link { color: #fff; padding: 0px 0px 3px 0; font-weight: 600; border-bottom: 1px solid transparent; font-size: 14px; line-height: 18px; }
.header-div .ullist-inline li .nav-link { position: relative; display: inline-block; overflow: hidden; text-transform: uppercase; }
.header-div .ullist-inline li .nav-link:before { left: 0px; bottom: 0; width: 100%; height: 1px; background: #ffffff; transform: translateX(-101%); }
.header-div .ullist-inline li .nav-link:hover:before { transform: translateX(0); }
.header-div .ullist-inline li .nav-link:before, .header-div .ullist-inline li .nav-link:after, .header-div .ullist-inline li .nav-link > span:before, .header-div .ullist-inline li .nav-link > span:after { content: ''; position: absolute; transition: transform .5s ease; }
.header-div .ullist-inline li.active .nav-link:before { left: 0px; bottom: 0; width: 100%; height: 1px; background: #ffffff; transform: translateX(0%); }
  


/*  End of navigation  */

.header-div .header-right-div .header-box-tools-div { float: left; width: 100%; display: flex; justify-content: flex-end; }
.header-div .header-right-div .header-box-tools-div .box-tools { padding: 0 0 0 15px; margin: 0; width: auto; float: left; }
.header-div .header-right-div .header-box-tools-div .box-tools .search-icon-root{ padding: 0; margin: 0; width: auto; }
.header-div .header-right-div .header-box-tools-div .box-tools .search-icon-root .search-icon{ padding: 0; margin: 0; font-size: 24px; color: #ffffff; }
.header-div .header-right-div .header-box-tools-div .box-tools .btn { transition: all 0.3s ease-in-out; padding: 0 5px; }

.search-overlay { height: 0%; width: 100%; position: fixed; z-index: 1; top: 0; left: 0;background-color: rgba(77, 163, 249, 0.92); overflow-y: hidden; transition: 0.5s; }
.search-overlay .overlay-content { position: relative; top: auto; width: 100%; text-align: center; margin-top: 0; min-height: 100vh; display: flex; align-items: center; justify-content: center; }
.search-overlay a { padding: 8px; text-decoration: none; font-size: 36px; color: rgba(255, 255, 255, 0.6); display: block; transition: 0.3s; }
.search-overlay a:hover, .search-overlay a:focus { color: #f1f1f1; }
.search-overlay .closebtn { position: absolute; top: 20px; right: 45px; font-size: 60px;    z-index: 2322; }
.search-overlay .overlay-content .searchbox-div { padding: 0; margin: 0 auto; max-width: 600px; width: 100%; }
.search-overlay .overlay-content .searchbox-div .form-control.text-box { padding: 0 15px; margin: 0; background-color: transparent; border: none; border-bottom: 1px solid rgba(255, 255, 255, 0.5); font-size: 24px; border-radius: 0px; }
.search-overlay .overlay-content .searchbox-div .form-control.text-box:hover, .search-overlay .overlay-content .searchbox-div .form-control.text-box:focus{ overflow: hidden; outline: none; box-shadow: none; }
.search-overlay .overlay-content .searchbox-div .input-group-append { margin-left: 0px; height: 50px; border: none; border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
.search-overlay .overlay-content .searchbox-div .input-group-append .material-icons.search-icon { color: #fff; padding: 0; font-size: 30px; }

.form-control.text-box::-webkit-input-placeholder {  color: rgba(255, 255, 255, 0.6); }
.form-control.text-box::-moz-placeholder {  color: rgba(255, 255, 255, 0.6);  }
.form-control.text-box:-ms-input-placeholder { color: rgba(255, 255, 255, 0.6);  }
.form-control.text-box:-moz-placeholder { color: rgba(255, 255, 255, 0.6);  }

.language-div ::selection { background: transparent;  }
.language-div ::-moz-selection { background: transparent;  }
.dropdown-select-box { position: relative; width: 100%; margin: 0 auto; padding: 0px 5px; background: transparent; border-radius: 7px; border: 0px solid rgba(0,0,0,0.15); box-shadow: none; cursor: pointer; outline: none; font-weight: 700; color: #ffffff; float: left; }
.dropdown-select-box .dropdown { position: absolute; min-width: 200px; top: 140%; left: auto; right: -5px; background: white; border-radius: inherit; border: 1px solid rgba(0,0,0,0.17); box-shadow: 0 0 5px rgba(0,0,0,0.1); font-weight: normal; -webkit-transition: all 0.5s ease-in; -moz-transition: all 0.5s ease-in; -ms-transition: all 0.5s ease-in; -o-transition: all 0.5s ease-in; transition: all 0.5s ease-in; list-style: none; opacity: 0; pointer-events: none; }
.dropdown-select-box .dropdown:after { content: ""; width: 0; height: 0; position: absolute; bottom: 100%; right: 15px; border-width: 0 6px 6px 6px; border-style: solid; border-color: #fff transparent;     }
.dropdown-select-box .dropdown:before { content: ""; width: 0; height: 0; position: absolute; bottom: 100%; right: 13px; border-width: 0 8px 8px 8px; border-style: solid; border-color: rgba(0,0,0,0.1) transparent;     }
.dropdown-select-box .dropdown li a { display: block; padding: 12px 15px; text-decoration: none; color: #4DA3F9; font-weight: 400; border-bottom: 1px solid #fafafa; box-shadow: inset 0 1px 0 rgba(255,255,255,1); -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out;  white-space: nowrap; word-break: break-all; text-overflow: ellipsis; overflow: hidden; max-width: 220px;  }

.dropdown-select-box .dropdown li i { float: right; color: inherit; }
.dropdown-select-box .dropdown li:first-of-type a { border-radius: 7px 7px 0 0; }
.dropdown-select-box .dropdown li:last-of-type a { border: none; border-radius: 0 0 7px 7px; }
.dropdown-select-box .dropdown li:hover a { background: #f3f8f8; }
.dropdown-select-box.active .dropdown { opacity: 1; pointer-events: auto; }
.no-opacity .dropdown-select-box .dropdown,
.no-pointerevents .dropdown-select-box .dropdown { display: none; opacity: 1;  pointer-events: auto; }
.no-opacity .dropdown-select-box.active .dropdown,
.no-pointerevents .dropdown-select-box.active .dropdown { display: block; }
.dropdown-select-box span { line-height: 24px; vertical-align: top; padding-left: 5px; }


.banner-center-vcontent { padding: 0; margin: 0; width: 100%; height: 100%; align-items: center; display: flex; }

.banner-section{ padding: 0; margin: -115px 0 0 0; position: relative;}
.banner-section .banner-div{ padding: 0; margin: 0; }
.banner-section .banner-div .banner-container { margin: 0 auto; min-height: 450px; padding: 0; position: relative; background: #f0eff2; height: 100vh; width: 100%; }
.banner-section .banner-div .banner-container .video-background { position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 1; width: 100%; height: 100%; overflow: hidden; margin: 0 auto; }
.banner-section .banner-div .banner-container .video-background video { background: #f0eff2; position: absolute; top: 50%; left: 50%; min-width: 100%; min-height: 100%; object-fit: cover; width: auto; height: auto; z-index: -100; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); background-size: cover; -webkit-transition: 1s opacity; transition: 1s opacity; }

.banner-section .banner-div .center_title { padding: 0; margin: 0; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-color: rgba(0, 0, 0, 0.3); z-index: 9; display: flex;align-items: center; }
.banner-section .banner-div .center_title .social-icon-div { position: absolute; left: 25px; bottom: 0;    z-index: 3; }
.banner-section .banner-div .center_title .social-icon-div ul{ display: inline-block; margin: 0 0 30px 0; }
.banner-section .banner-div .center_title .social-icon-div ul a { padding: 5px 15px; display: block; text-align: center; color: #fff; background-color: transparent; margin: 0 0 8px 0; }

.banner-section .banner-div .center_title .social-icon-div ul a.social-link-top.facebook-link-top:hover{ color: #43619C; }
.banner-section .banner-div .center_title .social-icon-div ul a.social-link-top.twitter-link-top:hover{ color: #24A9E6; }
.banner-section .banner-div .center_title .social-icon-div ul a.social-link-top.rss-link-top:hover { color:#fd7800; }


.tooltips-prag{ padding: 0 !important; margin: 0 !important; background-color: #fff; }

.banner-caption { height: 100%;  padding: 60px 0;}
.banner-caption h3 {color: #ffffff; margin-bottom: 40px;}
.banner-caption h2 {font-weight: 700; font-size: 60px; color: #FFFFFF; letter-spacing: 0; line-height: 80px;}
.banner-caption h2 span {display: block;}

.max-container-container { position: absolute; bottom: 45px; width: 100%; }
.text-downscroll { position: relative; margin: 0; padding: 0; width: 100%; display: flex; align-items: center; }
.text-downscroll a img {margin-right: 10px;}
.text-downscroll a  {display: flex; justify-content: center; align-items: center;}
.text-downscroll .scroll-to-bottom {color: #4DA3F9; font-size: 18px; font-weight: 600; transition: 0.5s; }
.text-downscroll .scroll-to-bottom:hover {color: #fff;}

.text-downscroll .cursor-span{ 
	-webkit-mask: url(../assets/images/icons/cursor.svg) no-repeat 50% 50%;
    mask: url(../assets/images/icons/cursor.svg) no-repeat 50% 50%;
	-webkit-mask-size: contain; 
	display: inline-block; 
	vertical-align: middle; 
	mask-size: cover; 
	width: 16px; 
	height: 20px; 
	color: #4DA3F9; 
	fill: #4DA3F9; 
	background-color: #4DA3F9; 
	margin: 0 10px 0 0;
	transition: 0.5s;
}

.down-arrowicon{ 
	-webkit-mask: url(../assets/images/icons/down-arrow-filter.svg) no-repeat 50% 50%;
    mask: url(../assets/images/icons/down-arrow-filter.svg) no-repeat 50% 50%;
	-webkit-mask-size: contain; 
	display: inline-block; 
	vertical-align: middle; 
	mask-size: cover; 
	width: 16px; 
	height: 20px; 
	color: #8FABBD; 
	fill: #8FABBD; 
	background-color: #8FABBD; 
	margin: 0 10px 0 0;
	transition: 0.5s;
}

.contact-icon1{ 
	-webkit-mask: url(../assets/images/icons/location1.svg) no-repeat 50% 50%;
    mask: url(../assets/images/icons/location1.svg) no-repeat 50% 50%;
	-webkit-mask-size: contain; 
	display: inline-block; 
	vertical-align: middle; 
	mask-size: cover; 
	width: 31px; 
	height: 44px; 
	color: #DEE7EC; 
	fill: #DEE7EC; 
	background-color: #DEE7EC; 
	margin: 0 0px 0 0;
	transition: 0.5s;
}

.contact-icon2{ 
	-webkit-mask: url(../assets/images/icons/call1.svg) no-repeat 50% 50%;
    mask: url(../assets/images/icons/call1.svg) no-repeat 50% 50%;
	-webkit-mask-size: contain; 
	display: inline-block; 
	vertical-align: middle; 
	mask-size: cover; 
	width: 40px; 
	height: 40px; 
	color: #DEE7EC; 
	fill: #DEE7EC; 
	background-color: #DEE7EC; 
	margin: 0 0px 0 0;
	transition: 0.5s;
}

.contact-icon3{ 
	-webkit-mask: url(../assets/images/icons/certificate1.svg) no-repeat 50% 50%;
    mask: url(../assets/images/icons/certificate1.svg) no-repeat 50% 50%;
	-webkit-mask-size: contain; 
	display: inline-block; 
	vertical-align: middle; 
	mask-size: cover; 
	width: 40px; 
	height: 40px; 
	color: #DEE7EC; 
	fill: #DEE7EC; 
	background-color: #DEE7EC; 
	margin: 0 0px 0 0;
	transition: 0.5s;
}


.text-downscroll a:hover .cursor-span{ color: #fff;  fill: #fff;  background-color: #fff; }


.po-rltv{position: relative;}

.about-section {padding: 120px 0; background-color: #EFF3F6;}
.about-section .about-inner {box-shadow: 0 2px 109px 0 #EFF3F6;}
.nav-m-bar .menu-bars {display: none;}

.about-inner-box {background-color: #ffffff; padding: 90px 60px; border-radius: 10px;box-shadow: 0 2px 109px 0 #EFF3F6; text-align: center; margin: 0; z-index: 1; position: relative; }
.about-inner-root::before { content: ""; background-image: url(../assets/images/icons/pattern.svg); position: absolute; left: -30px; top: -40px; height: 200px; width: 200px; background-size: contain; transition: 0.5s;  }
.about-inner-root::after { content: ""; background-image: url(../assets/images/icons/pattern.svg); position: absolute; right: -30px; bottom: -40px; height: 200px; width: 200px; background-size: contain; transition: 0.5s;  }

.about-inner-root:hover::before{ left: -45px; top: -55px; }
.about-inner-root:hover::after{ right: -45px; bottom: -55px; }

.about-inner-box h2 {font-size: 38px;color: #425E70;letter-spacing: 0;text-align: center;  text-transform: uppercase; font-weight: 700; margin-bottom: 40px;}
.about-inner-box p {font-size: 20px; color: #425E70; letter-spacing: 0; line-height: 40px; text-align: left;}

.value-section {background-color: #ffffff; padding: 120px 0;}
.value-heading h2 {font-size: 38px;color: #425E70;  text-transform: uppercase; letter-spacing: 0;text-align: center; font-weight: 700; margin-bottom: 80px;}


.feature-box {padding: 20px 30px;margin-bottom: 40px;}
.feature-box h2 {font-weight: 600; font-size: 24px; color: #263640; letter-spacing: 0; margin-bottom: 22px;}
.feature-box h2 img {margin-right: 15px;}
.feature-box p {font-size: 16px; color: #425E70; letter-spacing: 0; line-height: 28px;}
.value-img-box {margin-bottom: 30px;}

.biilonoffamily-section {padding: 120px 0; background-color: #EFF3F6;}
.biilonoffamily-heading h2 {font-weight: 700;  text-transform: uppercase; font-size: 48px; color: #425E70; letter-spacing: 0; margin-bottom: 40px;}
.biilonoffamily-heading h2 span {display: block;}
.biilonoffamily-heading p {font-size: 21px;color: #9AA8B6;letter-spacing: 0;line-height: 32.53px;font-weight: 500; margin-bottom: 40px;}
.biilonoffamily-heading .prag-weight-460{ width: 100%; max-width: 450px; }

.counter-box{ padding: 0; margin: 0; }
.counter-box h2 { font-size: 78px; line-height: 80px; color: #4DA3F9; letter-spacing: 0; font-weight: 300; margin-bottom: 20px; word-break: break-all; }
.counter-box p {font-size: 14px; color: #3E4C5B; letter-spacing: 0; font-weight: 600; line-height: 20px; text-align: left; padding-right: 40px; }	

.img-fluid {width: 100%;}

.turor-root-div{ position: relative; }
.turor-root-div::after { content: ""; background-image: url(../assets/images/icons/pattern.svg); position: absolute; right: -40px; bottom: -40px; height: 200px; width: 200px; background-size: contain; transition: 0.5s;  }
.turor-root-div:hover::after{ right: -55px; bottom: -55px; }

.turor-div {margin-top: 60px; background: rgba(255,255,255,0.80); border: 1px solid #B3D9F0; border-radius: 4px; border-radius: 4px; width: 354px; height: 354px; display: flex; justify-content: center; align-items: center; padding: 20px 60px; flex-direction: column; align-items: center; text-align: center; position: relative; z-index: 1; }
.turor-div h2 { font-size: 76px; color: #4DA3F9; letter-spacing: 0; text-align: left; width: 100%; }
.turor-div p {font-size: 21px; color: #3E4C5B; letter-spacing: 0; font-weight: 600; line-height: 26px; text-align: left; width: 100%; }

.testimonial-section {background-color: #ffffff; padding: 120px 0;}
.testimonial-heading h2 {font-size: 38px; text-transform: uppercase; color: #425E70;letter-spacing: 0;text-align: center; font-weight: 700; margin-bottom: 40px;}
.testimonial-heading h4 {font-size: 24px; color: #5E86A1; text-align: center;font-size: 600; position: relative;}
.testimonial-heading h4 span {background-color: #ffffff; padding: 0 35px; display: inline-block; z-index: 1; position: relative;}
.testimonial-heading h4::before { content: ''; position: absolute; width: 100%; display: flex; height: 0px; border: 1px solid rgba(191, 207, 217, 0.4); top: 15px; z-index: 0; }
.testimonial-heading {margin-bottom: 40px;}

.textimonial-content {display: flex; justify-content: center; align-items: center; align-content: center; flex-direction: column; margin-top: 40px;}
.img-header {height: 100px; width: 100px; border-radius: 100px; overflow: hidden; margin-bottom: 20px;}
.img-header img {width: 100%;}


.testimonial-message p {font-size: 24px; color: #425E70; text-align: center; line-height: 41px; margin-bottom: 40px;}
.testimonial-message  {padding: 0 80px;}
.testimonial-message h4 {font-size: 20px; color: #425E70; text-align: center; font-weight: 700;}
.testimonial-message {margin-bottom: 80px;}

.owl-carousel-slider.owl-theme .owl-nav {position: relative; top: -50px;  margin:  auto; width: 30%;}
.owl-carousel-slider.owl-theme .owl-nav button.owl-next {right: 0px; position: absolute;}
.owl-carousel-slider.owl-theme .owl-nav button.owl-prev {left: 0px; position: absolute;}
.owl-carousel-slider.owl-theme .owl-nav button {border-radius: 100px; overflow: hidden; }
.owl-carousel-slider.owl-theme .span-roundcircle {height: 70px; width: 70px; margin: 20px; border-radius: 100px; background-color: #ffffff; box-shadow: 0 15px 14px 0 rgba(191,207,217,0.20); display: flex; overflow: hidden; align-items: center; justify-content: center; transition: all 0.5s ease-in-out; }
.owl-carousel-slider.owl-theme .span-roundcircle:hover{ background-color: #EFF3F6; }
.owl-carousel-slider.owl-theme .owl-dots .owl-dot.active span, .owl-carousel-slider.owl-theme .owl-dots .owl-dot:hover span { background: #5E86A1; }
.owl-carousel-slider.owl-theme .owl-dots .owl-dot.active span, .owl-carousel-slider.owl-theme .owl-dots .owl-dot:hover span{ background: #5E86A1; }
.owl-carousel-slider.owl-theme .owl-dots .owl-dot span { background: #EFF3F6; }
.owl-carousel-slider.owl-theme .owl-nav [class*='owl-']:hover {background-color: #ffffff !important;}

button:focus {box-shadow: none !important; outline: none !important;}

.latestnews-section  {padding: 120px 0 80px 0; background-color: #EFF3F6;}
.latestnews-heading h2 {font-weight: 700; font-size: 38px; color: #425E70; letter-spacing: 0; margin-bottom: 40px; text-align: center; text-transform: uppercase;}

.latestnews-section .cardbox { padding: 0; margin: 0 5px 40px 5px; box-shadow: 0 10px 20px 0 rgba(191, 207, 217, 0.20); transition: 0.4s; }
.latestnews-section .cardbox .cardbox-header{ padding: 0; margin: 0; }
.latestnews-section .cardbox .cardbox-header .news-img { padding: 0; margin: 0; height: 245px; object-fit: cover; width: 100%; }
.latestnews-section .cardbox .cardbox-body { padding: 25px 20px; margin: 0; background-color: #fff; border-radius: 0 0 4px 4px; }
.latestnews-section .cardbox .cardbox-body .news-date { padding: 0; margin: 0 0 15px 0; color: #425E70; text-transform: uppercase; font-size: 18px; font-weight: 700; line-height: 28px; display: block; }
.latestnews-section .cardbox .cardbox-body .news-heading { padding: 0; margin: 0 0 15px 0; color: #263640; font-size: 18px; font-weight: 500; line-height: 30px; display: block; white-space: normal; text-decoration: underline; text-align: left; }
.latestnews-section .cardbox .cardbox-body .news-heading:hover{ color: #425E70; }
.latestnews-section .cardbox .cardbox-body p { padding: 0; margin: 0 0 30px 0; color: #425E70; font-size: 18px; font-weight: 400; line-height: 30px; display: block; }
.latestnews-section .cardbox .cardbox-body .read-more-link { margin: 0; padding: 0; color: #425E70; font-size: 24px; font-weight: 500; line-height: 30px; display: inline-block; position: relative; transition: 0.5s;     border-radius: 0px; }
.latestnews-section .cardbox .cardbox-body .read-more-link::after { content: " "; display: block; height: 2px; width: 60px; background-color: #4DA3F9; border-radius: 0px; margin: 8px 0 0 0; transition: 0.5s; }
.latestnews-section .cardbox .cardbox-body .read-more-link:hover::after{ width: 100%; }
.latestnews-section .cardbox:hover{ box-shadow: 0 10px 25px 0 rgba(191, 207, 217, 0.60);  }

.gallery-section  {padding: 120px 0; background-color: #ffffff;}
.gallery-section .gallery-heading h2 {font-weight: 700; font-size: 38px; color: #425E70; letter-spacing: 0; margin-bottom: 40px; text-align: center; text-transform: uppercase;}
.gallery-section .gallery-4{ padding: 0; }
.gallery-section .gallery-box { padding: 0; margin: 0; position: relative; height: 100%; width: 100%; }
.gallery-section .gallery-box a.gallery-link{ width: 100%; border-bottom: 0px; border-top:none; }
.gallery-section .gallery-box img.gallery-img { height: 200px; object-fit: cover; width: 100%; }
.gallery-section .gallery-box .overlay-more { position: absolute; top: 0; left: 0; background-color: rgba(255, 255, 255, 0.84); width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; border: 1px solid #fff; opacity: 0; transition: 0.5s; }
.gallery-section .gallery-box:hover .overlay-more{ opacity: 1; }
.gallery-section .gallery-box .gallery-link { border: 1px solid #fff; float: left; }

.find-home-section{ padding: 120px 0; background-color: #EFF3F6; }
.find-home-section .find-home-heading h2 { font-weight: 700; font-size: 38px; color: #425E70; letter-spacing: 0; margin-bottom: 15px; text-align: center; text-transform: uppercase; }
.find-home-section .find-home-heading p{ padding: 0; margin: 0 0 30px 0; color: #425E70; font-size: 18px; font-weight: 400; line-height: 30px; display: block; text-align: center; transition: all 0.3s ease-in-out; }
.find-home-section .find-home-heading .find-link { color: #425E70; font-weight: 300; line-height: 36px; font-size: 24px; }
.find-home-section .find-home-heading .find-link:hover{ color: #4DA3F9; }

.btn-row-div{ padding: 0; margin: 0 auto; width: 100%; max-width: 450px; }
.btn-row-div .btn.btn-get-started { width: 100%; background-color: #4DA3F9; color: #fff; font-size: 18px; font-weight: 600; line-height: 22px; height: 60px; display: flex; align-items: center; justify-content: center; transition: all 0.3s ease-in-out; }
.btn-row-div .btn.btn-get-started:hover{  background-color: #4899ea;  }

footer{ padding: 20px; background-color: #090C10; }
.footer-root{ padding: 0; margin: 0; width: 100%; border-top: 1px solid rgba(255, 255, 255, 0.2); }
.footer-root .footer-div { padding: 15px 0; margin: 0; width: 100%; }
.footer-root .footer-div .footer-list{ padding: 20px; margin: 0 auto 50px auto; width: 100%; }
.footer-root .footer-div .footer-list .link-footer{ padding: 0; margin: 0 0 15px 0; width: 100%; text-align: center; display: block; color: #BFCFD9; font-size: 16px; line-height: 24px; }
.footer-root .footer-div .footer-list .link-footer:hover{ color: #ffffff; }

.social-icon-div-root{ padding: 0; margin: 0 0 40px 0; width: 100%; float: left; }
.social-icon-div-root .footer-social-ul { padding: 0; margin: 0; float: left; width: 100%; text-align: center; display: flex; align-items: center; justify-content: center; }
.social-icon-div-root .footer-social-ul li{ padding: 0; margin: 0; float: left; }
.social-icon-div-root .footer-social-ul li .social-link { padding: 0 15px; margin: 0; color: rgba(66, 94, 112, 0.30); font-size: 30px; transition: 0.5s; position: relative; }
.social-icon-div-root .footer-social-ul li .social-link.linkedin-link:hover{ color: #187FB8; }
.social-icon-div-root .footer-social-ul li .social-link.facebook-link:hover{ color: #43619C; }
.social-icon-div-root .footer-social-ul li .social-link.twitter-link:hover{ color: #24A9E6; }
.social-icon-div-root .footer-social-ul li .social-link.google-plus-link:hover{ color: #F24033; }

.copyright-div{ padding: 0; margin: 0; width: 100%; float: left; }
.copyright-div p{    padding: 0; margin: 0 0 5px 0; font-size: 18px; width: 100%; font-weight: 300; text-align: center; display: block; color: #BFCFD9; }

.return-to-top { position: fixed; bottom: 25px; right: 25px; background: #4DA3F9; width: 50px; height: 50px; text-decoration: none; -webkit-border-radius: 35px; -moz-border-radius: 35px; border-radius: 35px; display: none; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; z-index: 9999; }
.display_show{ display: block; }
.return-to-top i { color: #fff; margin: 0; position: relative; left: 16px; top: 15px; font-size: 19px; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
.return-to-top:hover { background: #056FB9; }
.return-to-top:hover i { color: #fff; }


/*********************************/
/*******  Inner Pages  ***********/
/*********************************/

.blog-slider-container{ padding: 0; margin: 0; width: 100%; position: relative; }

.owl-theme.owl-slider2 .owl-nav {position: absolute; top: 265px;  margin:  auto; width: 100%;}
.owl-theme.owl-slider2 .owl-nav button.owl-next { right: -190px; position: absolute; }
.owl-theme.owl-slider2 .owl-nav button.owl-prev { left: -190px; position: absolute; }
.owl-theme.owl-slider2 .owl-nav button {border-radius: 100px; overflow: hidden; }
.owl-theme.owl-slider2 .span-roundcircle {height: 70px; width: 70px; margin: 0px; border-radius: 100px; background-color: #EFF3F6; box-shadow: 0 15px 14px 0 rgba(191,207,217,0.20); display: flex; overflow: hidden; align-items: center; justify-content: center; transition: all 0.5s ease-in-out; }
.owl-theme.owl-slider2 .span-roundcircle:hover{ background-color: transparent; }
.owl-theme.owl-slider2 .owl-dots .owl-dot.active span, .owl-carousel-slider.owl-theme .owl-dots .owl-dot:hover span { background: #5E86A1; }
.owl-theme.owl-slider2 .owl-dots .owl-dot.active span, .owl-carousel-slider.owl-theme .owl-dots .owl-dot:hover span{ background: #5E86A1; }
.owl-theme.owl-slider2 .owl-dots .owl-dot span { background: #EFF3F6; }
.owl-theme.owl-slider2 .owl-nav [class*='owl-']:hover {background-color: #fff !important;}


/* inner banner */

.inner-banner-section .banner-div .banner-container{ max-height:600px; }
.inner-banner-section .image-background{ position: absolute; height: 100%; width: 100%; }
.inner-banner-section .breadcrumb-div { width: 100%; display: flex; align-items: center; justify-content: center; }
.inner-banner-section .banner-caption h2{ position: relative; }
.inner-banner-section .banner-caption h2:after{ content: ""; }
.inner-banner-section .banner-caption .arrow-width-border { width: 50px; height: 2px; background-color: #4DA3F9; display: block; margin: 5px auto 10px auto; }

.breadcrumb-div .breadcrumb-row a { padding: 0; margin: 0; font-size: 16px; color: rgba(255, 255, 255, 0.6); line-height: 24px; font-weight: 500; display: inline-block; }
.breadcrumb-div .breadcrumb-row .icon-span { padding: 0 5px; color: rgba(255, 255, 255, 0.7); font-size: 16px; line-height: 24px; vertical-align: middle; }
.breadcrumb-div .breadcrumb-row p { padding: 0; margin: 0; font-size: 16px; color: #fff; line-height: 24px; font-weight: 500; display: inline-block; }

.text-downscroll.center-text-downscroll {  text-align: center;  display: block; }
.text-downscroll.center-text-downscroll .scroll-to-bottom { display: flex; flex-direction: column; width: 40%; margin: 0 auto; min-width: 300px; }
.text-downscroll.center-text-downscroll .cursor-span { margin: 0 0px 10px 0; }

/* End of inner banner */

/* care homes */


.diffrences-section{ padding: 0; margin: 0; position: relative; }
.diffrences-section .diffrences-div{background-color: #EFF3F6; padding: 100px 0;}
.diffrences-section .diffrences-div h2 { font-size: 38px; color: #425E70;  text-transform: uppercase; letter-spacing: 0;text-align: center; font-weight: 700; margin-bottom: 70px; }
.diffrences-section .diffrences-card-box{ padding: 25px 15px; margin: 0; width: 100%; transition: 0.8s; }
.diffrences-section .diffrences-card-box .icons-top-div { padding: 0; margin: 0 0 40px 0; min-height:95px; display: block; text-align: center; }
.diffrences-section .diffrences-card-box .icons-top-div .icons-img{ width: 75px; }
.diffrences-section .diffrences-card-box .diffrences-content-div{ padding: 0; margin: 0; display: block; text-align: center; }
.diffrences-section .diffrences-card-box .diffrences-content-div h4{ font-weight: 700; font-size: 24px; color: #263640; letter-spacing: 0; margin-bottom: 22px; }
.diffrences-section .diffrences-card-box .diffrences-content-div p { font-size: 20px; color: #425E70; letter-spacing: 0; line-height: 28px; }
.diffrences-section .diffrences-card-box:hover{ background-color: #fff; border-radius: 30px; }

.eos-section{ padding: 0; margin: 0; position: relative; }
.eos-section .eos-div{background-color: #ffffff; padding: 100px 0;}
.eos-section .eos-div h2 { font-size: 38px; color: #425E70;  text-transform: uppercase; letter-spacing: 0;text-align: center; font-weight: 700; margin-bottom: 70px; }

.eos-section .eos-div .eos-content-div { padding: 0; margin: 0 auto; position: relative; max-width: 850px; }
.eos-section .eos-div .eos-content-div .success-ul-list{ padding: 0; margin: 0; }
.eos-section .eos-div .eos-content-div .success-ul-list .eos-row-content-div { padding: 0; margin: 0 0 35px 0; position: relative; float: left; width: 100%; }
.eos-section .eos-div .eos-content-div .success-ul-list .eos-row-content-div .color-number { padding: 0; margin: 0; position: absolute; font-size: 64px; color: #4DA3F9; line-height: 64px; text-align: left; font-style: italic; left: 0; top: 0; min-width: 25px; display: inline-block; }
.eos-section .eos-div .eos-content-div .success-ul-list .eos-row-content-div .text-content { padding: 0 0 0 75px; margin: 0; float: left; min-height: 64px; display: flex; align-items: center;     width: 100%; }
.eos-section .eos-div .eos-content-div .success-ul-list .eos-row-content-div .text-content p { font-size: 24px; color: #263640; letter-spacing: 0; line-height: 30px; font-style: italic; font-weight: 300; }

.careoption-section{ padding: 0; margin: 0; position: relative; }
.careoption-section .careoption-div{background-color: #EFF3F6; padding: 100px 0; }

.careoption-section .careoption-div .border-bottom-full{ float: left; width: 100%; }

.careoption-section .careoption-img-box{  padding: 0; margin: 0; position: relative; }
.careoption-section .careoption-img-box .careoption-img { padding: 0; margin: 0; max-height: 540px; object-fit: cover; object-position: center; border-radius: 4px; }

.careoption-section .careoption-right { padding: 10px 0 0 70px; margin: 0; position: relative; }
.careoption-section .content-careoption-box{  padding: 0; margin: 0;  }
.careoption-section .content-careoption-box .heading-div{ min-height: 110px; }
.careoption-section .content-careoption-box h2 { font-size: 38px; color: #425E70; text-transform: uppercase; letter-spacing: 0; font-weight: 700;  }
.careoption-section .content-careoption-box p { font-size: 20px; color: #5E86A1; letter-spacing: 0; line-height: 36px; text-align: left; display: -webkit-box; -webkit-line-clamp: 8; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; }
.careoption-section .content-careoption-box .btn-row { padding: 0; margin: 70px 0 0 0; float: left; width: 100%; }
.careoption-div2 .careoption-right { padding: 10px 70px 0 0 ; margin: 0; position: relative; }
.border-bottom-center { padding: 0; margin: 0 auto; text-align: center; width: 100%; display: block; background-color: #eff3f6; }
.border-bottom-center .border-height { background-color: #eff3f6; height: 1px; max-width: 1170px; border-top: 1px solid #BFCFD9; margin: 0 auto; }

.read-more-btn { margin: 0; padding: 0; color: #425E70; font-size: 24px; font-weight: 500; line-height: 30px; display: inline-block; position: relative; transition: 0.5s;     border-radius: 0px; }
.read-more-btn::after { content: " "; display: block; height: 2px; width: 60px; background-color: #4DA3F9; border-radius: 0px; margin: 8px 0 0 0; transition: 0.5s; }
.read-more-btn:hover{ color: #425E70; }
.read-more-btn:hover::after{ width: 100%; }


.relatednews-section{ background-color: #F8FAFB; }
.relatednews-section .owl-theme.owl-slider2 .span-roundcircle {height: 70px; width: 70px; margin: 0px; border-radius: 100px; background-color: #fff; box-shadow: 0 15px 14px 0 rgba(191,207,217,0.20); display: flex; overflow: hidden; align-items: center; justify-content: center; transition: all 0.5s ease-in-out; }
.relatednews-section .owl-theme.owl-slider2 .span-roundcircle:hover { background-color: #EFF3F6; }
.relatednews-section .owl-theme.owl-slider2 .owl-dots .owl-dot.active span, .owl-carousel-slider.owl-theme .owl-dots .owl-dot:hover span { background: #5E86A1; }
.relatednews-section .owl-theme.owl-slider2 .owl-dots .owl-dot.active span, .owl-carousel-slider.owl-theme .owl-dots .owl-dot:hover span{ background: #5E86A1; }
.relatednews-section .owl-theme.owl-slider2 .owl-dots .owl-dot span { background: #EFF3F6; }
.relatednews-section .owl-theme.owl-slider2 .owl-nav [class*='owl-']:hover {background-color: #fff !important;}

/* End of care homes */

/* About us */

.about-section-inner .about-inner-box p {  margin: 0 0 15px 0; }
.about-section-inner .about-inner-box .italic-h4{ font-size: 20px; color: #425E70; letter-spacing: 0; font-weight:600; line-height: 28px; text-align: left; font-style: italic; }

.home-care-section {background-color: #EFF3F6; padding: 85px 0;}
.home-care-section h4 { font-size: 36px; color:#263640; letter-spacing: 0;text-align: center; font-weight: 700; margin-bottom: 50px; }
.home-care-section .border-left { padding: 10px 30px; border-left: 2px solid #4DA3F9 !important; }
.home-care-section .border-left p { font-size: 24px; color: #425E70; letter-spacing: 0; line-height: 40px; text-align: left; font-weight: 300; font-style: italic; }

.success-quotes-section{ padding: 0; margin: 0; position: relative; }
.success-quotes-section .success-quotes-div{background-color: #FFFFFF; padding: 100px 0; }
.success-quotes-section .success-quotes-div h2 { font-size: 38px; color: #425E70;  text-transform: uppercase; letter-spacing: 0;text-align: center; font-weight: 700; margin-bottom: 70px; }

.success-quotes-section .success-quotes-center{ padding: 0; margin: 0; }
.success-quotes-section .success-quotes-center .success-quotes-content{ padding: 0; margin: 0; position: relative; }
.success-quotes-section .success-quotes-center .success-quotes-content h3 { padding: 0 100px; margin: 0; font-size: 36px; color: #8FABBD; letter-spacing: 0; line-height: 52px; text-align: left; font-weight: 500; }
.success-quotes-section .success-quotes-center .success-quotes-content span.left-side-quotes { position: absolute; left: 0; top: 0; }
.success-quotes-section .success-quotes-center .success-quotes-content span.right-side-quotes { position: absolute; right: 0; bottom: 0; }
.success-quotes-section .success-quotes-center .bottom-prag-last { padding: 50px 100px 0 100px; margin: 0; position: relative; }
.success-quotes-section .success-quotes-center .bottom-prag-last p { letter-spacing: 0; line-height: 40px; text-align: left; font-size: 24px; color: #263640; }

/* Video Section */


.about-video-middle-root { padding: 0; margin: 0;  width: 100%;  position: relative; }
.about-video-middle-root .background-video-group { padding: 0 0; margin: 0 0 0 0; width: 100%; }
.about-video-middle-root .banner-container { margin: 0 auto; padding: 0; position: relative; background: #f0eff2 url(../images/banner-oval.png) no-repeat center top; height: 700px; width: 100%; }
.about-video-middle-root .banner-container .video-background { position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 1; width: 100%; height: 100%; overflow: hidden; margin: 0 auto; }
.about-video-middle-root .banner-container .video-background video { background: #f0eff2; position: absolute; top: 50%; left: 50%; min-width: 100%; min-height: 100%; width: auto; height: auto; z-index: -100; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); background-size: cover; -webkit-transition: 1s opacity; transition: 1s opacity; object-fit: cover; }
.about-video-middle-root .card-content-container { position: absolute; top: 0; right: 0; z-index: 2; width: 100%; height: 100%; display: flex; background-color: rgba(38, 54, 64, 0.75); }
.about-video-middle-root .card-content-container .left-side-card { float: left; width: 100%; display: flex; align-items: center; justify-content: center; height: 100%; }
.about-video-middle-root .card-content-container .right-side-card { float: right; width: 50%; position: absolute; bottom: 70px; }
.about-video-middle-root .card-content-container .content-prag-div h3 { font-weight: 700; font-size: 36px; color: #fff; line-height: 45px; letter-spacing: 0; margin-bottom: 15px; text-align: left; text-transform: none; }
.about-video-middle-root .card-content-container .content-prag-div p { letter-spacing: 0; line-height: 24px; text-align: left; font-size: 14px; color: #ffffff; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; }

.about-video-middle-root .content-prag-div{  -webkit-animation-name: fadeIn; animation-name: fadeIn; -webkit-animation-duration: 4s; animation-duration: 4s; -webkit-animation-fill-mode: both; animation-fill-mode: both; max-width: 750px; }
.about-video-middle-root .content-prag-div.hide-content{ display: none; -webkit-animation-name: fadeOut; animation-name: fadeOut; -webkit-animation-duration: 4s; animation-duration: 4s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

.about-video-middle-root .btn.btn-transparent.video-button { outline: none; padding: 0; margin: 0; border: none; cursor: pointer; height: 75px; width: 75px; background-color: #fff; border-radius: 100%; }
.about-video-middle-root .btn.btn-transparent.video-button .display-none{ display: none; }

.pause-video-icon {
    -webkit-mask: url(../assets/images/icons/play-button.svg) no-repeat 50% 50%;
    mask: url(../assets/images/icons/play-button.svg) no-repeat 50% 50%;
    -webkit-mask-size: contain; display: inline-block; vertical-align: middle; mask-size: cover; width: 20px; height: 20px; color: #425E70; fill: #425E70; background-color: #425E70;
}
.play-video-icon {
    -webkit-mask: url(../assets/images/icons/pause-button.svg) no-repeat 50% 50%;
    mask: url(../assets/images/icons/pause-button.svg) no-repeat 50% 50%;
    -webkit-mask-size: contain; display: inline-block; vertical-align: middle; mask-size: cover; width: 20px; height: 20px; color: #425E70; fill: #425E70; background-color: #425E70;
}

.pause-video-icon:hover, .play-video-icon:hover{ opacity: 0.8; }


/* End of Video Section */

/* End of About us */

/* Start latest news */

.latestnews-inner-section{ padding: 70px 0 0px 0; }
.latestnews-inner-section .tab-content.tab-content-latest { padding: 0 0 70px 0; border-bottom: 1px solid #BFCFD9; }
.latestnews-inner-section .tab-content.tab-content-latest .cardbox{  margin-left: 0px; margin-right: 0px; }

.latest-news-top-section{ padding: 0; margin: 0 0 40px 0; position: relative; }
.latest-news-top-section .tab-list-left{ padding: 0; margin: 0 0 0px 0; }
.latest-news-top-section .nav-tabs-custom { border-bottom: 1px solid #BFCFD9; }
.latest-news-top-section .nav-tabs-custom .nav-item { margin-right: 60px; }
.latest-news-top-section .nav-tabs-custom .nav-link { color: #5E86A1; font-weight: 500; font-size: 20px; padding: 20px 0px; line-height: 28px; transition: 0.5s;  }
.latest-news-top-section .nav-tabs .nav-item.show .nav-link, .latest-news-top-section .nav-tabs .nav-link.active { color: #425E70 !important; background-color: transparent; border-color: transparent transparent #425E70; }
.latest-news-top-section .nav-tabs .nav-link:focus, .latest-news-top-section .nav-tabs .nav-link:hover{ color: #425E70 !important; background-color: transparent; border-color: transparent transparent #425E70; }
.latest-news-top-section .filter-list-right { padding: 0; margin: 0; float: right; position: relative; height: 0; }
.latest-news-top-section .filter-list-right .filter-dropdown-top { padding: 0; position: relative; margin: 0; min-width: 140px; right: 0; top: -70px; }

.form-group-full { position: relative; width: 100%; margin: 0px 0 0px 0; float: left; z-index: 0; display: block; min-height: 50px; }
.form-group-full select.form-control:not([size]):not([multiple]) { height: 70px; padding: 0 35px 0 15px; background-color: transparent; border: 1px solid transparent; color: #5E86A1; display: block; font-size: 18px; font-weight: 500; width: 100%; -webkit-appearance: none; background: transparent; position: relative; }
.form-group-full select.form-control:focus { outline: none; box-shadow: none; }
.form-group-full span.arrow { position: absolute; top: 23px; right: 17px; width: 0; height: 0; border-style: solid; border-color: #808080 transparent transparent transparent; border-width: 5px; z-index: 5; pointer-events: none; color: #808080; }
.form-group-full span.down-arrowicon { position: absolute; top: 0; right: 10px; height: 100%; }

.tab-content.tab-content-latest>.tab-pane { padding: 0; }

/* End of latest news */

/* news details srtarted */

.news-details-section { padding: 120px 0; background-color: #EFF3F6;}
.new-details-root { margin-top: -350px; z-index: 99; position: relative; }
.new-details-root .about-inner-box {box-shadow: none; padding: 60px 50px; border-radius: 10px 10px 0 0 ; }

.about-inner-root.new-details-root::before { right: -40px; left: auto; top: 230px;}
.about-inner-root.new-details-root:hover::before { right: -65px; bottom: 105px }
.about-inner-root.new-details-root::after {left: -30px; right: auto;}
.about-inner-root.new-details-root:hover::after {left: -100px;  bottom: -155px;}

.news-box-inner h3 {font-size: 20px; color: #425E70; text-align: center; line-height: 36px; font-weight: 700; margin-bottom: 0px;}
.news-box-inner h2 span {display: block}
.news-box-inner h2 {line-height: 60px;}

.news-details-banner .banner-center-vcontent {display: none;}
.back-to-page {text-align: center;}
.back-to-page a {display: block; font-size: 14px; color: #4DA3F9; text-align: center; line-height: 36px; font-weight: 500;}
.back-to-page {margin-bottom: 40px;}

.news-details-img {margin-bottom: 40px;}
.most-related-news { padding: 120px 0; background-color: #EFF3F6; position: relative;}
.most-related-news:after {content: ""; border-bottom: 1px solid #BFCFD9; position: absolute; bottom: 0; width: 60%; height: 1px; left: 20%;}

.social-medai-division {  background-color: #F7F9FA; border-radius: 0 0 10px 10px; border-radius: 0px 0px 10px 10px; align-items: center; z-index: 99; position: relative; min-height: 60px; }
.social-media-inner ul li a {height: 60px; width: 60px; border: 2px solid #ddd; border-radius: 100px; display: block; background-color: #ffff; display: flex; align-items: center; justify-content: center;}
.social-media-inner ul li {display: inline-block; margin-right: 30px;}
.social-media-inner ul li:last-child {margin-right: 0;}
.social-media-inner ul li .fab {font-size: 26px;}
.social-media-inner {text-align: center;}

.social-media-inner ul {margin-top: -34px;}
.social-media-inner ul li .fa {font-size: 26px;}

.social-media-inner ul li a.facebook {border-color: rgb(67, 97, 156, 0.3);}
.social-media-inner ul li a.facebook .fab {color: #43619C;}
.social-media-inner ul li a.facebook:hover {border-color: rgb(67, 97, 156); background-color: #43619C; transition: all 0.1s ease-in-out; }
.social-media-inner ul li a.facebook:hover .fab {color: #ffffff;}

.social-media-inner ul li a.linkdin {border-color: rgb(24, 127, 184, 0.3);}
.social-media-inner ul li a.linkdin .fab {color:#187FB8;}
.social-media-inner ul li a.linkdin:hover {border-color: #187FB8; background-color: #187FB8; transition: all 0.1s ease-in-out; }
.social-media-inner ul li a.linkdin:hover .fab {color: #ffffff;}

.social-media-inner ul li a.twitter {border-color: rgb(36, 169, 230, 0.3)}
.social-media-inner ul li a.twitter .fab {color: #24A9E6;}
.social-media-inner ul li a.twitter:hover {border-color: #24A9E6; background-color: #24A9E6; transition: all 0.1s ease-in-out; }
.social-media-inner ul li a.twitter:hover .fab {color: #ffffff;}

.social-media-inner ul li a.google-plus {border-color:  rgb(242, 64, 51, 0.3);}
.social-media-inner ul li a.google-plus .fab {color:#F24033}
.social-media-inner ul li a.google-plus:hover {border-color: #F24033; background-color: #F24033; transition: all 0.1s ease-in-out; }
.social-media-inner ul li a.google-plus:hover .fab {color: #ffffff;}

.social-media-inner ul li a.share {border-color: rgb(36, 169, 230, 0.3)}
.social-media-inner ul li a.share .fa {color: #24A9E6;}
.social-media-inner ul li a.share:hover {border-color: #24A9E6; background-color: #24A9E6; transition: all 0.1s ease-in-out; }
.social-media-inner ul li a.share:hover .fa {color: #ffffff;}


.career-section .diffrences-card-box {margin-bottom: 30px;}
.current-opening-section {padding: 120px 0;  background-color: #FFFFFF;}
.current-opening-heading h2 {font-size: 38px; color: #425E70; text-align: center; font-weight: 700; line-height: 50px; text-transform: uppercase; margin-bottom: 40px;}
.current-opening-heading p { font-size: 24px; color: #5E86A1; text-align: center; font-weight: 500; line-height: 36px;}
.current-opening-heading {margin-bottom: 70px;}

.opening-dropdown {margin-bottom: 70px;}

.current-opening-section .form-group-full select.form-control:not([size]):not([multiple]) {border: 1px solid #BFCFD9;}
.btn-blue { background-color: #4DA3F9; color: #fff; font-size: 18px; font-weight: 500; line-height: 22px; padding: 8px 22px; width: auto; display: flex; align-items: center; justify-content: center; transition: all 0.3s ease-in-out;}
.btn-blue:hover {background-color: #4899ea; color: #ffffff !important;}

.opening-list { margin-bottom: 40px; border-bottom: 1px solid #BFCFD9; padding-bottom: 15px; }
.opening-list {display: flex; justify-content: space-between; align-items: center;}
.opnnnig-jobs h3 {font-size: 22px; font-weight: 600; line-height: 30px; color: #425E70; margin-bottom: 10px;}
.opnnnig-jobs ul li {display: inline-block; border-right: 1px solid #BFCFD9; padding: 0px 20px; line-height: 18px; font-size: 16px; font-weight: 400; color: #8FABBD;}
.opnnnig-jobs ul li:last-child {border: 0;}
.opnnnig-jobs ul li:first-child {padding-left: 0;}


.senior-welocme-section {padding: 120px 0; background-color: #F8FAFB;}
.senior-welocme-heading h3 {font-size: 38px; color: #425E70; letter-spacing: 0; font-weight: 700; line-height: 50px; text-transform: uppercase;}
.senior-welocme-heading h3 span {display: block;}
.senior-welocme-heading h3 span:after {  content: " "; display: block; height: 2px; width: 60px; background-color: #4DA3F9; border-radius: 0px; margin: 8px 0 0 0; transition: 0.5s;}
.senior-welocme-heading {margin-bottom: 60px;}

.img-galery-box img {width: 100%;}
.img-galery-box {margin-bottom: 40px;}
.gallery-content p {font-size: 24px; color: #263640; letter-spacing: 0;font-weight: 400; line-height: 28px; } 


.contact-us-banner .banner-center-vcontent {display: none;}
.contact-us-inner h2 {margin-bottom: 10px;}
.about-inner-box.news-box-inner.contact-us-inner {border-radius: 0px;}

.contact-fields label {margin-bottom: 10px; font-size: 22px; line-height: 26px; color: #5E86A1; display: block; text-align: left;}
.contact-fields .form-control {border: 1px solid #BFCFD9; height: 60px; border-radius: 0;}
.contact-fields .form-group {margin-bottom: 40px;}
.contact-fields textarea.form-control {height: 150px;}

.conatct-us-root:before, .conatct-us-root:after { display: none;}
.contact-us-content .social-medai-division {border-radius: 0;}
.connatc-us-content-footer  p {font-size: 20px; color: #263640; text-align: center; line-height: 29px;}
.connatc-us-content-footer {padding: 15px;}

.contact-fields .btn-send {width: 100%; padding: 15px 20px; font-size: 18px;}

/* gallery  */

.our-gallery-section .img-galery-box { padding: 10px; width: 100%; }
.our-gallery-section .img-galery-box img.gallery { height: 300px; width: 100%; object-fit: cover; }

.owl-carousel-slider-gallery.owl-theme .owl-nav {position: relative; top: -50px;  margin:  auto; width: 100%; max-width: 1200px; }
.owl-carousel-slider-gallery.owl-theme .owl-nav button.owl-next {right: 0px; position: absolute;}
.owl-carousel-slider-gallery.owl-theme .owl-nav button.owl-prev {left: 0px; position: absolute;}
.owl-carousel-slider-gallery.owl-theme .owl-nav button {border-radius: 100px; overflow: hidden; }
.owl-carousel-slider-gallery.owl-theme .span-roundcircle {height: 70px; width: 70px; margin: 20px 0; border-radius: 100px; background-color: transparent; display: flex; overflow: hidden; align-items: center; justify-content: center; transition: all 0.5s ease-in-out; }
.owl-carousel-slider-gallery.owl-theme .span-roundcircle:hover{ background-color: #EFF3F6; }
.owl-carousel-slider-gallery.owl-theme .owl-dots .owl-dot.active span, .owl-carousel-slider-gallery.owl-theme .owl-dots .owl-dot:hover span { background: #5E86A1; }
.owl-carousel-slider-gallery.owl-theme .owl-dots .owl-dot.active span, .owl-carousel-slider-gallery.owl-theme .owl-dots .owl-dot:hover span{ background: #5E86A1; }
.owl-carousel-slider-gallery.owl-theme .owl-dots .owl-dot span { background: #EFF3F6; }
.owl-carousel-slider-gallery.owl-theme .owl-nav [class*='owl-']:hover { background-color: transparent !important;}

/* .owl-carousel-slider-gallery.owl-theme .owl-item.active .img-galery-box img.gallery { opacity: 1; }
.owl-carousel-slider-gallery.owl-theme .owl-item.active.center .img-galery-box img.gallery { opacity: 1; } */

.conatctinfo-section{ padding: 50px 0; background-color: #EFF3F6;     border-bottom: 1px solid #BFCFD9; }
.conatctinfo-section .conatctinfo-card-box { padding: 0; margin: 10px 0; float: left; width: 100%; background-color: transparent; padding: 10px 10px; border-radius: 8px; transition: .5s; }
.conatctinfo-section .conatctinfo-card-box:hover{ background-color: #dee7ec; }
.conatctinfo-section .icons-top-div{ float: left; }
.conatctinfo-section .conatctinfo-content-div { float: left; width: calc(100% - 80px); padding-left: 20px; }
.conatctinfo-section .round-box { padding: 0; margin: 0; height: 80px; width: 80px; background-color: #fff; border-radius: 100%; display: flex; align-items: center; justify-content: center; }
.conatctinfo-section h4 { font-weight: 500; font-size: 21px; color: #425E70; line-height: 32px; letter-spacing: 0; margin-bottom: 5px; }
.conatctinfo-section p { font-size: 18px; color: #425E70; line-height: 26px; padding: 0; margin: 0; }
.conatctinfo-section p span{ display: block; }
.conatctinfo-section p a{  color: #425E70; }

.senior-mb40{ margin-bottom: 30px; }

/* Update HTML changes */

.family-update-section .biilonoffamily-heading h2 { text-align: center; line-height: 60px; }
.family-update-section .biilonoffamily-heading .prag-weight p { margin: 0 0 15px 0; text-align: left; font-size: 18px; line-height: 30px; }

.family-update-section .dementia-care-inner-box { margin: 30px 0 0 0;}
.family-update-section .inner-card-md-4 { margin: 0 0 20px 0; }
.family-update-section .innerdesc-div { padding: 40px 30px 30px 30px; margin: 0; background-color: rgba(255, 255, 255, 0.8); box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.01); border-radius: 4px; float: left; min-height: 190px; transition: 0.5s; }
.family-update-section .innerdesc-div:hover{  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.05); }
.family-update-section .innerdesc-div h4 { padding: 0; margin: 0 0 10px 0; font-weight: 600; font-size: 18px; color: #263640; letter-spacing: 0; text-align: center; line-height: 24px; }
.family-update-section .innerdesc-div p{ padding:0; margin: 0 0 5px 0; font-size: 16px; color: #425E70; letter-spacing: 0; line-height: 28px; }


/* End of Update HTML changes */


@media (min-width: 1025px) and (max-width: 1290px) {
	
	.container-fluid{ max-width: 1050px;  }	
	.container { max-width: 1050px;  }	
	.owl-theme.owl-slider2 .owl-nav button.owl-prev { left: 10px; }
	.owl-theme.owl-slider2 .owl-nav button.owl-next { right: 10px; }

}

@media (min-width: 1025px) and (max-width: 1450px) {

	.owl-theme.owl-slider2 .owl-nav button.owl-prev { left: -30px; }
	.owl-theme.owl-slider2 .owl-nav button.owl-next { right: -30px; }
	
}

@media (min-width: 1450px) and (max-width: 1700px) {

	.owl-theme.owl-slider2 .owl-nav button.owl-prev { left: -140px; }
	.owl-theme.owl-slider2 .owl-nav button.owl-next { right: -140px; }

}



@media screen and (min-width: 1025px) {

	.header-div.header-bgcolor .header-right-div .header-box-tools-div { padding: 8px 0 0 0; }
	.header-div.header-bgcolor .ullist-inline li .nav-link { padding: 10px 0px 3px 0; }

}

@media screen and (max-height: 450px) {
	.search-overlay {overflow-y: auto;}
	.search-overlay a {font-size: 20px}
	.search-overlay .closebtn { font-size: 40px; top: 15px; right: 35px; }
}


@media (max-width: 767px) {

.btn-blue {font-size: 14px; padding: 5px 30px;}
.conatct-img { margin-bottom: 30px;}
.contact-fields label {font-size: 18px;}
.contact-fields .form-control {height: 45px;}
.contact-fields .form-group {margin-bottom: 20px;}

/* -------------- */
.position-fixed{ position: fixed; }

.header-div .nav-center-div { width: 12%; order: 3; min-height: 70px; padding: 0; justify-content: flex-end; }
.header-div .logo-div { width: 50%; order: 1; }
.header-div .logo-div .logo_link  { width: 120px; }
.header-div .header-right-div { width: 38%; order: 2; min-height: 70px; padding: 0; justify-content: flex-end; min-width: 70px; }

.top-nav1 {display: flex;align-items: center; height: 100%; justify-content: flex-end;}
.nav-m-bar .menu-bars{ font-size: 30px; color: #ffffff; display: flex; align-items: center;}
.nav-div { height: 100%; width: 0; position: fixed; z-index: 9999999; top: 0; right: 0;  background-color: #ffffff; overflow-x: hidden; padding-top: 60px; transition: 0.5s; }
.nav-div .closebtn { position: absolute; color: #8B7C6A; background-color: transparent;  border-radius: 0 0 0 30px; top: 0; min-width: 45px; text-align: center; height: 45px; display: flex; justify-content: center; align-items: center; right: 0; font-size: 40px; font-weight: 300; line-height: 35px; margin-top: 15px; margin-right: 10px; }
.nav-div .closebtn:hover { color: #8B7C6A; }
.nav-div .closebtn { display:block;}

.width80{ width: 70%; }
.opacityon{ opacity: 1; }
.header-div .cd-shadow-layer.displayblock{ display: block; }
.header-div .ullist-inline li{ width: 100%; }

.max-container-container{ bottom: 20px; }
.banner-caption { padding: 0px 0; }
.banner-section .banner-div .center_title .social-icon-div ul { margin: 0 0 8px 0; }


.header-div .header-right-div .header-box-tools-div .box-tools { padding: 0 0 0 5px; }
.header-div .header-right-div .header-box-tools-div .box-tools .btn { line-height: 0;    padding: 0 10px; }
.header-container {display: flex;}
.header-div .header-right-div {align-items: center;}
.dropdown-select-box {display: flex;}
.dropdown-select-box span { font-size: 9px; }
.dropdown-select-box .dropdown li a { font-size: 12px; padding: 8px 15px; }
.dropdown-select-box .dropdown { min-width: 150px; }
.dropdown-select-box .dropdown li a { width: 100%; font-size: 12px; padding: 8px 15px; white-space: nowrap; word-break: break-all; text-overflow: ellipsis; overflow: hidden; max-width: 180px; }

.header-div .logo-div { padding: 15px 0; min-height: 70px; }
.header-div .logo-div .logo_link {width: 100px;}
.header-div .nav-div .closebtn {display: block; color: #425E70;}
.header-div .ullist-inline li .nav-link {color: #425E70 !important; padding: 15px 30px; white-space: nowrap;}
.header-div .ullist-inline li.active .nav-link { color: rgba(77, 163, 249, 1) !important; }

.search-overlay .closebtn { top: 0; right: 10px; font-size: 48px; }
.search-overlay{ background-color: rgba(77, 163, 249, 0.98); }
.search-overlay .overlay-content .searchbox-div .form-control.text-box{ font-size: 18px; }
.search-overlay .overlay-content .searchbox-div .input-group { transform: scale(0.9); }
.search-overlay .overlay-content .searchbox-div .input-group-append .material-icons.search-icon{ font-size: 24px; }

.banner-caption h3 { margin-bottom: 20px; font-size: 24px; }
.banner-caption h2 { font-size: 36px; line-height: 48px; }

.text-downscroll { justify-content: flex-end; }
.banner-section .banner-div .center_title .social-icon-div { left: 5px; }

.value-section{ padding: 70px 0; }
.biilonoffamily-section{ padding: 70px 0; }
.testimonial-section{ padding: 70px 0; }
.latestnews-section{ padding: 70px 0; }
.gallery-section{ padding: 70px 0; }
.find-home-section{ padding: 70px 0; }

.about-inner-box {padding: 50px 20px;}
.about-inner-box h2{ font-size: 28px; line-height: 36px; word-break: break-word; }
.about-inner-box p{ font-size: 16px; line-height: 24px; word-break: break-word; text-align: justify; }

.value-heading h2{ font-size: 28px; line-height: 36px; word-break: break-word; margin-bottom: 70px; }
.biilonoffamily-heading h2{ font-size: 28px; line-height: 36px; word-break: break-word; }
.biilonoffamily-heading p{ font-size: 16px; line-height: 24px; word-break: break-word; }

.counter-box h2{ font-size: 48px; line-height: 72px; margin-bottom: 10px; }
.counter-box p{ font-size: 12px; }

.turor-div { width: 90%; height: 100%; padding: 40px 20px; }
.turor-div h2{ font-size: 48px; line-height: 72px; margin-bottom: 0px; }
.turor-div p{ font-size: 14px; line-height: 24px; }

.testimonial-message{  margin-bottom: 30px; }
.testimonial-heading h2{ font-size: 28px; line-height: 36px; word-break: break-word; }
.testimonial-heading h4{ font-size: 21px; line-height: 32px; word-break: break-word; }

.testimonial-message p{ font-size: 16px; line-height: 24px; word-break: break-word; margin-bottom: 20px; }
.testimonial-message h4{ font-size: 18px; line-height: 28px; word-break: break-word; }

.owl-carousel-slider .span-roundcircle { margin: 20px 0; transform: scale(0.7); }
.owl-carousel-slider.owl-theme .owl-nav{ width: 95%; }

.feature-box {margin-bottom: 20px; padding: 10px; }
.feature-box p {margin-bottom: 0;}
.testimonial-message {padding:  20px 30px; min-height: 290px; } 
.testimonial-heading h4 span{ padding: 0 20px; }

.latestnews-heading h2{ font-size: 28px; line-height: 36px; word-break: break-word; }
.latestnews-section .cardbox .cardbox-body{ padding: 20px 15px; }
.latestnews-section .cardbox .cardbox-body .news-date{  font-size: 16px; }
.latestnews-section .cardbox .cardbox-body .news-heading{  font-size: 16px; }
.latestnews-section .cardbox .cardbox-body p{  font-size: 16px; margin: 0 0 15px 0; }
.latestnews-section .cardbox .cardbox-body .read-more-link{  font-size: 20px; }
.latestnews-section .cardbox .cardbox-body .read-more-link::after { margin: 5px 0 0 0; }

.about-inner-root::before { left: 0px; top: -20px; height: 150px; width: 150px; }
.about-inner-root::after { right: 0px; bottom: -20px; height: 150px; width: 150px; }
.turor-root-div::after { right: 0px; bottom: -20px; height: 150px; width: 150px; }
.turor-root-div:hover::after{right: 0px; bottom: -20px; }
.about-inner-root:hover::before{ left: 0px; top: -20px; }
.about-inner-root:hover::after{ right: 0px; bottom: -20px; }

.gallery-section .gallery-box { padding: 0 15px;}
.gallery-section .gallery-heading h2{ font-size: 28px; line-height: 36px; word-break: break-word; }
.find-home-section .find-home-heading h2{ font-size: 28px; line-height: 36px; word-break: break-word; }
.find-home-section .find-home-heading .find-link{ font-size: 21px; line-height: 32px; word-break: break-word; }
.find-home-section .vline-show{ display: none; }
.find-home-section .find-home-heading .find-link{ font-size: 18px; line-height: 26px; word-break: break-word; display: block; margin: 0 0 5px 0; }

.footer-root .footer-div .footer-list { padding: 15px; margin: 0 auto 10px auto; border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
.footer-root .footer-div .footer-list .link-footer { margin: 0 0 10px 0; font-size: 14px; line-height: 24px; }
.social-icon-div-root { margin: 10px 0 40px 0; }
.btn-row-div .btn.btn-get-started{ font-size: 14px; height: 50px; }

.copyright-div p{ font-size: 12px; }

.owl-theme.owl-slider2 .span-roundcircle{ transform: scale(0.7); }
.owl-theme.owl-slider2 .owl-nav button.owl-prev { left: -15px; }
.owl-theme.owl-slider2 .owl-nav button.owl-next { right: -15px; }
.latestnews-section .cardbox { margin: 0 0px 40px 0px; }
.owl-theme.owl-slider2 .owl-nav [class*='owl-']:hover {background-color: transparent !important;}

/* inner banner */

.text-downscroll.center-text-downscroll .scroll-to-bottom { font-size: 14px; }


/*  care homes */

.diffrences-section .diffrences-div h2{ font-size: 28px; line-height: 36px; word-break: break-word;}
.diffrences-section .diffrences-card-box .diffrences-content-div h4{ font-size: 18px; }
.diffrences-section .diffrences-card-box .diffrences-content-div p { font-size: 14px; line-height: 21px; }
.diffrences-section .diffrences-card-box .icons-top-div .icons-img { width: 65px; }
.diffrences-section .diffrences-card-box .icons-top-div { min-height: 75px; }
.diffrences-section .diffrences-card-box { padding: 25px 5px; }

.eos-section .eos-div h2{ font-size: 28px; line-height: 36px; word-break: break-word;}
.eos-section .eos-div .eos-content-div { max-width: 600px; }
.eos-section .eos-div .eos-content-div .success-ul-list .eos-row-content-div .text-content { padding: 5px 0 0 40px; }
.eos-section .eos-div .eos-content-div .success-ul-list .eos-row-content-div .color-number { font-size: 36px; margin: -5px 0 0 0; }
.eos-section .eos-div .eos-content-div .success-ul-list .eos-row-content-div .text-content p { font-size: 18px; }

.careoption-section .careoption-right { padding: 70px 0 0 0px; }
.careoption-section .content-careoption-box h2{ font-size: 28px; line-height: 36px; word-break: break-word;}
.careoption-section .content-careoption-box .heading-div { min-height: 75px; }
.careoption-section .content-careoption-box p { font-size: 16px; line-height: 28px; }
.careoption-section .content-careoption-box .btn-row { margin: 40px 0 0 0; }

.relatednews-section .owl-theme.owl-slider2 .span-roundcircle:hover { box-shadow: none !important; }
.relatednews-section .owl-theme.owl-slider2 .owl-nav [class*='owl-']:hover { background-color: transparent !important; }

/* End of care homes */


/*  About us  */

.home-care-section{ padding-top: 0px; }
.about-section-inner .about-inner-box .italic-h4{ margin: 0 0 20px 0; text-align: center; }
.home-care-section h4{ font-size: 28px; line-height: 36px; word-break: break-word;}
.home-care-section .border-left { padding: 15px 20px; margin: 0 0 20px 0; min-height: 80px; display: flex; align-items: center; }
.home-care-section .border-left p { font-size: 18px; line-height: 32px; }

.success-quotes-section .success-quotes-div h2{ font-size: 28px; line-height: 36px; word-break: break-word;}
.success-quotes-section .success-quotes-center .success-quotes-content h3 { padding: 0 40px; font-size: 18px; line-height: 32px; text-align: left; }
.success-quotes-section .success-quotes-center img.quotes-img { width: 30px; }

.success-quotes-section .success-quotes-center .bottom-prag-last { padding: 50px 40px 0 40px; }
.success-quotes-section .success-quotes-center .bottom-prag-last p { line-height: 32px; font-size: 18px; }

.about-video-middle-root .banner-container { height: 400px; width: 100%; }
.about-video-middle-root .card-content-container .right-side-card { width: 100%; bottom: 20px; left: 0; }
.about-video-middle-root .card-content-container .left-side-card {  margin: 0; float: right; position: absolute; right: 0; top: 0; }
.about-video-middle-root .btn.btn-transparent.video-button { transform: scale(0.65); }
.about-video-middle-root  .content-prag-div { padding: 0 15px; }

.about-video-middle-root .card-content-container .content-prag-div h3 { font-size: 21px; line-height: 32px; }
.about-video-middle-root .card-content-container .content-prag-div p { line-height: 18px; font-size: 12px; }

/* End of About us  */

/* Latest News  */

.latest-news-top-section .nav-tabs-custom .nav-link { font-size: 16px; padding: 15px 20px; line-height: 24px;  }

/* End of Latest News  */

/* Latest News  */

.latest-news-top-section .nav-tabs-custom .nav-link { font-size: 16px; padding: 10px 20px; line-height: 24px; width: 100%; text-align: left; border-radius: 6px; }
.form-group-full select.form-control:not([size]):not([multiple]){ height: 56px; }
.latest-news-top-section .filter-list-right .filter-dropdown-top { top: auto; width: 100%; }
.latest-news-top-section .nav-tabs .nav-item { width: 100%; text-align: center; }
.latest-news-top-section .filter-list-right { margin: 20px 0 20px 0; width: 100%; }
.latest-news-top-section .nav-tabs .nav-item.show .nav-link, .latest-news-top-section .nav-tabs .nav-link.active { color: #ffffff !important; background-color: #425E70 !important; border-color: #425E70; }

/* End of Latest News  */

.news-details-section {padding: 100px 0  50px 0;}

.about-inner-root.new-details-root::before {right: -15px;}
.new-details-root .about-inner-box { padding: 50px 20px;}

.social-media-inner ul li a {width: 50px; height: 50px;}
.social-media-inner ul li a i {font-size: 20px !important;}
.social-media-inner ul li {margin-right: 5px;}
.current-opening-section .form-group-full {margin-bottom: 15px;}
.opening-list {flex-direction: column; align-items: flex-start; margin-bottom: 20px;}
.opnnnig-jobs h3 {font-size: 18px;}
.opnnnig-jobs ul li {padding: 0px; line-height: 26px; display: block; border: 0; font-size: 14px; }
.opnnnig-jobs {margin-bottom: 15px;}

.current-opening-heading h2 {font-size: 28px; line-height: 36px; word-break: break-word;}
.current-opening-heading p {font-size: 16px; line-height: 26px;}
.senior-welocme-heading h3 {font-size: 28px; line-height: 36px; word-break: break-word;}
.senior-welocme-section {padding: 100px 0;}
.current-opening-section .form-group-full select.form-control:not([size]):not([multiple]) {font-size: 14px;}
.gallery-content p {line-height: 24px; font-size: 16px;}

.conatctinfo-section p { font-size: 16px; }

/* Update HTML changes */

.family-update-section .biilonoffamily-heading h2 { line-height: 36px; }
.family-update-section .innerdesc-div { padding: 30px 25px 30px 25px; min-height: auto; }
.family-update-section .innerdesc-div p { font-size: 14px; line-height: 24px; }
.family-update-section .biilonoffamily-heading .prag-weight p { font-size: 16px; line-height: 28px; }


/* End of Update HTML changes */


}


@media (min-width: 768px) and (max-width: 1024px) {


	.conatct-img { margin-bottom: 30px;}

	.position-fixed{ position: fixed; }


	.header-div .nav-center-div { width: 8%; order: 3; min-height: 70px; padding: 0; justify-content: flex-end; }
	.header-div .logo-div { width: 50%; order: 1; padding: 5px; }
	.header-div .logo-div .logo_link  { width: 120px; }
	.header-div .header-right-div { width: 42%; order: 2; min-height: 70px; padding: 0; justify-content: flex-end; min-width: 70px; }

	.top-nav1 {display: flex;align-items: center; height: 100%; justify-content: flex-end;}
	.nav-m-bar .menu-bars{ font-size: 30px; color: #ffffff; display: flex; align-items: center;}
	.nav-div { height: 100%; width: 0; position: fixed; z-index: 9999999; top: 0; right: 0;  background-color: #ffffff; overflow-x: hidden; padding-top: 60px; transition: 0.5s; }
	.nav-div .closebtn { position: absolute; color: #8B7C6A; background-color: transparent;  border-radius: 0 0 0 30px; top: 0; min-width: 45px; text-align: center; height: 45px; display: flex; justify-content: center; align-items: center; right: 0; font-size: 40px; font-weight: 300; line-height: 35px; margin-top: 15px; margin-right: 10px; }
	.nav-div .closebtn:hover { color: #8B7C6A; }
	.nav-div .closebtn { display:block;}

	.width80{ width: 350px; }
	.opacityon{ opacity: 1; }
	.header-div .cd-shadow-layer.displayblock{ display: block; }
	.header-div .ullist-inline li{ width: 100%; }

	.max-container-container{ bottom: 20px; }
	.banner-caption { padding: 0px 0; }
	.banner-section .banner-div .center_title .social-icon-div ul { margin: 0 0 8px 0; }


	.header-div .header-right-div .header-box-tools-div .box-tools { padding: 0 0 0 5px; }
	.header-div .header-right-div .header-box-tools-div .box-tools .btn { line-height: 0;    padding: 0 10px; }
	.header-container {display: flex; min-height: 85px; }
	.header-div .header-right-div {align-items: center;}
	.dropdown-select-box {display: flex;}
	.dropdown-select-box span { font-size: 12px; }
	.dropdown-select-box .dropdown li a { font-size: 12px; padding: 8px 15px; }
	.dropdown-select-box .dropdown { min-width: 150px; }
	.dropdown-select-box .dropdown li a { width: 100%; font-size: 12px; padding: 8px 15px; white-space: nowrap; word-break: break-all; text-overflow: ellipsis; overflow: hidden; max-width: 180px; }

	.header-div .logo-div { padding: 15px 0; min-height: 70px; }
	.header-div .logo-div .logo_link {width: 100px;}
	.header-div .nav-div .closebtn {display: block; color: #425E70;}
	.header-div .ullist-inline li .nav-link {color: #425E70 !important; padding: 15px 30px; white-space: nowrap;}
	.header-div .ullist-inline li.active .nav-link { color: rgba(77, 163, 249, 1) !important; }

	.col-lg-4.col-md-4.latestnews-4 {  padding: 0 5px; }
	.latestnews-section .cardbox .cardbox-body{  padding: 20px 15px; }
	.latestnews-section .cardbox .cardbox-body .news-date{  font-size: 16px; }
	.latestnews-section .cardbox .cardbox-body .news-heading{  font-size: 16px; }
	.latestnews-section .cardbox .cardbox-body p{  font-size: 16px; }
	.latestnews-section .cardbox .cardbox-body .read-more-link{  font-size: 20px; }

		
	.banner-caption h3 { margin-bottom: 20px; font-size: 36px; }
	.banner-caption h2 { font-size: 48px; line-height: 64px; }

	
	.banner-section .banner-div .center_title .social-icon-div { left: 5px; }

	.value-section{ padding: 70px 0; }
	.biilonoffamily-section{ padding: 70px 0; }
	.testimonial-section{ padding: 70px 0; }
	.latestnews-section{ padding: 70px 0; }
	.gallery-section{ padding: 70px 0; }
	.find-home-section{ padding: 70px 0; }

	.about-inner-box {padding: 50px 20px;}
	.about-inner-box h2{ font-size: 28px; line-height: 36px; word-break: break-word; }
	.about-inner-box p { font-size: 16px; line-height: 28px; word-break: break-word; text-align: justify; padding: 0 50px; }

	.value-heading h2{ font-size: 28px; line-height: 36px; word-break: break-word; margin-bottom: 70px; }
	.biilonoffamily-heading h2{ font-size: 28px; line-height: 36px; word-break: break-word; }
	.biilonoffamily-heading p{ font-size: 16px; line-height: 24px; word-break: break-word; }

	.counter-box h2{ font-size: 48px; line-height: 72px; margin-bottom: 10px; }
	.counter-box p{ font-size: 12px; }

	.turor-div { width: 100%; height: 100%; padding: 70px 70px; }
	.turor-div h2{ font-size: 48px; line-height: 72px; margin-bottom: 0px; }
	.turor-div p{ font-size: 14px; line-height: 24px; }

	.testimonial-message{  margin-bottom: 30px; }
	.testimonial-heading h2{ font-size: 28px; line-height: 36px; word-break: break-word; }
	.testimonial-heading h4{ font-size: 21px; line-height: 32px; word-break: break-word; }

	.testimonial-message p { font-size: 16px; line-height: 24px; word-break: break-word; margin-bottom: 20px; width: 80%; margin: 0 auto 40px auto; }
	.testimonial-message h4{ font-size: 18px; line-height: 28px; word-break: break-word; }

	.owl-carousel-slider .span-roundcircle { margin: 20px 0; transform: scale(0.7); }
	.owl-carousel-slider.owl-theme .owl-nav{ width: 45%; }

	.feature-box { margin-bottom: 30px; padding: 0; }
	.feature-box p {margin-bottom: 0; font-size: 14px; }
	.testimonial-message {padding:  20px 30px; min-height: 230px; } 
	
	.testimonial-heading h4 span{ padding: 0 20px; }

	.latestnews-heading h2{ font-size: 28px; line-height: 36px; word-break: break-word; }
	.latestnews-section .cardbox .cardbox-body{ padding: 20px 15px; }
	.latestnews-section .cardbox .cardbox-body .news-date{  font-size: 14px; line-height: 22px; }
	.latestnews-section .cardbox .cardbox-body .news-heading{  font-size: 14px;line-height: 22px; }
	.latestnews-section .cardbox .cardbox-body p{  font-size: 14px; margin: 0 0 15px 0; line-height: 22px; }
	.latestnews-section .cardbox .cardbox-body .read-more-link{  font-size: 18px; }
	.latestnews-section .cardbox .cardbox-body .read-more-link::after { margin: 4px 0 0 0; }
	.latestnews-section .cardbox .cardbox-header .news-img { object-fit: cover; object-position: top; height: 200px; width: 100%; }

	.about-inner-root::before {     left: -5px; top: -30px; height: 150px; width: 150px; }
	.about-inner-root::after { right: -5px; bottom: -25px; height: 150px; width: 150px; }
	.turor-root-div::after { right: -30px; bottom: -30px; height: 150px; width: 150px; }
	.turor-root-div:hover::after{right: 0px; bottom: -20px; }
	.about-inner-root:hover::before{ left: 0px; top: -20px; }
	.about-inner-root:hover::after{ right: 0px; bottom: -20px; }

	.gallery-section .gallery-heading h2{ font-size: 28px; line-height: 36px; word-break: break-word; }
	.find-home-section .find-home-heading h2{ font-size: 28px; line-height: 36px; word-break: break-word; }
	.find-home-section .find-home-heading .find-link{ font-size: 21px; line-height: 32px; word-break: break-word; }
	.find-home-section .find-home-heading .find-link{ font-size: 18px; line-height: 26px; word-break: break-word; margin: 0 0 5px 0; }

	.footer-root .footer-div .footer-list { padding: 15px; margin: 0 auto 10px auto; border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
	.footer-root .footer-div .footer-list .link-footer { margin: 0 0 10px 0; font-size: 14px; line-height: 24px; }
	.social-icon-div-root { margin: 10px 0 40px 0; }
	.btn-row-div .btn.btn-get-started{ font-size: 14px; height: 50px; }

	.copyright-div p{ font-size: 12px; }

	.owl-theme.owl-slider2 .span-roundcircle{ transform: scale(0.7); }
	.owl-theme.owl-slider2 .owl-nav button.owl-prev { left: -15px; }
	.owl-theme.owl-slider2 .owl-nav button.owl-next { right: -15px; }
	.latestnews-section .cardbox { margin: 0 0px 40px 0px; }
	.owl-theme.owl-slider2 .owl-nav [class*='owl-']:hover {background-color: transparent !important;}
	.owl-theme.owl-slider2 .owl-nav { top: 150px; }
	

	/*  care homes */

	.diffrences-section .diffrences-div h2{ font-size: 28px; line-height: 36px; word-break: break-word;}
	.diffrences-section .diffrences-card-box .diffrences-content-div h4{ font-size: 18px; }
	.diffrences-section .diffrences-card-box .diffrences-content-div p { font-size: 14px; line-height: 21px; }
	.diffrences-section .diffrences-card-box .icons-top-div .icons-img { width: 65px; }
	.diffrences-section .diffrences-card-box .icons-top-div { min-height: 75px; }
	.diffrences-section .diffrences-card-box { padding: 25px 5px; }

	.eos-section .eos-div h2{ font-size: 28px; line-height: 36px; word-break: break-word;}
	.eos-section .eos-div .eos-content-div { max-width: 600px; }
	
	.careoption-section .careoption-right { padding: 10px 0 0 0px; }
	.careoption-section .content-careoption-box h2{ font-size: 28px; line-height: 36px; word-break: break-word;}
	.careoption-section .content-careoption-box .heading-div { min-height: 75px; }
	.careoption-section .content-careoption-box p { font-size: 16px; line-height: 28px; }
	.careoption-section .content-careoption-box .btn-row { margin: 40px 0 0 0; }



	.relatednews-section .owl-theme.owl-slider2 .span-roundcircle:hover { box-shadow: none !important; }
	.relatednews-section .owl-theme.owl-slider2 .owl-nav [class*='owl-']:hover { background-color: transparent !important; }

	/* End of care homes */

	/*  About us  */

	.home-care-section{ padding-top: 0px; }
	.about-section-inner .about-inner-box .italic-h4{ margin: 0 0 20px 0; text-align: center; }
	.home-care-section h4{ font-size: 28px; line-height: 36px; word-break: break-word;}
	.home-care-section .border-left { padding: 15px 15px; margin: 0 0 0px 0; min-height: 50px; display: flex; align-items: center; }
	.home-care-section .border-left p { font-size: 16px; line-height: 32px; }

	.success-quotes-section .success-quotes-div h2{ font-size: 28px; line-height: 36px; word-break: break-word;}
	.success-quotes-section .success-quotes-center .success-quotes-content h3 { padding: 0 40px; font-size: 18px; line-height: 32px; text-align: left; }
	.success-quotes-section .success-quotes-center img.quotes-img { width: 30px; }

	.success-quotes-section .success-quotes-center .bottom-prag-last { padding: 50px 40px 0 40px; }
	.success-quotes-section .success-quotes-center .bottom-prag-last p { line-height: 32px; font-size: 18px; }

	.about-video-middle-root .banner-container { height: 400px; width: 100%; }
	.about-video-middle-root .card-content-container .right-side-card { width: 100%; bottom: 20px; left: 0; }
	.about-video-middle-root .card-content-container .left-side-card {  margin: 0; float: right; position: absolute; right: 0; top: 0; }
	.about-video-middle-root .btn.btn-transparent.video-button { transform: scale(0.65); }
	.about-video-middle-root  .content-prag-div { padding: 0 15px; }

	.about-video-middle-root .card-content-container .content-prag-div h3 { font-size: 21px; line-height: 32px; }
	.about-video-middle-root .card-content-container .content-prag-div p { line-height: 18px; font-size: 12px; }

	/* End of About us  */

	/* Latest News  */

	.latest-news-top-section .nav-tabs-custom .nav-link { font-size: 16px; padding: 15px 0px; line-height: 24px;  }
	.form-group-full select.form-control:not([size]):not([multiple]) { height: 56px; font-size: 16px; }
	.latest-news-top-section .filter-list-right .filter-dropdown-top { top: -56px; }
	.latest-news-top-section .nav-tabs-custom .nav-item { margin-right: 40px; }
	.tab-content.tab-content-latest>.tab-pane { padding: 0 10px; }


	/* End of Latest News  */


	.conatctinfo-section .icons-top-div { display: block; width: 100%; margin: 0 0 20px 0; }
	.conatctinfo-section .conatctinfo-content-div{ width: 100%;    padding-left: 0px; }
	.conatctinfo-section p { font-size: 16px; }

	/* Update HTML changes */

	.family-update-section .biilonoffamily-heading h2 { line-height: 36px; }
	.family-update-section .innerdesc-div { padding: 30px 25px 30px 25px; min-height: 100%; }
	.family-update-section .innerdesc-div p { font-size: 14px; line-height: 24px; }
	.family-update-section .biilonoffamily-heading .prag-weight p { font-size: 16px; line-height: 28px; }


	/* End of Update HTML changes */

}